<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace의 값은 사용할 DAO의 풀패키지명 -->	
    
<mapper namespace="com.iu.start.bankMembers.BankMembersDAO">

<select id="getlogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
SELECT USERNAME, NAME FROM MEMBERS WHERE USERNAME=#{username} AND PASSWORD=#{password}
</select>

<insert id="setJoin" parameterType="BankMembersDTO">
INSERT INTO MEMBERS VALUES(#{username},#{password},#{name},#{email},#{phone})
</insert>

<select id="getSearchByID" parameterType="String" 
								resultType="BankMembersDTO">
SELECT * FROM MEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME ASC
</select>

<select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult">
		SELECT USERNAME, NAME, EMAIL, PHONE, ACCOUNTNUM, BOOKNAME, ACCOUNTDATE
		FROM MEMBERS MB
		
		    INNER JOIN
		    BANKACCOUNT BA
		    USING (USERNAME)
		    
		    INNER JOIN
		    BANKBOOK BB
		    USING (BOOKNUM)
	    WHERE USERNAME=#{username}
</select>

		<resultMap type="BankMembersDTO" id="getMyPageResult">
			<id column="USERNAME" property="username"/>
			<result column="NAME" property="name"/>
			<result column="EMAIL" property="email"/>
			<result column="PHONE" property="phone"/>
			
			<collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO">
				<id column="ACCOUNTNUM" property="accountNum"/>
				<result column="ACCOUNTDATE" property="accountDate"/>
				
				<association property="bankBookDTO" javaType="BankBookDTO">
					<result column="BOOKNAME" property="bookName"/>
				</association>
				
			</collection>
			
		<!-- ofType 제네릭을 뭏어보는 것 -->
		</resultMap>


</mapper>
